
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url(https://thumbs.dreamstime.com/z/background-pen-k-line-diagram-mobile-phone-calculator-background-pen-k-line-diagram-mobile-phone-calculator-132628903.jpg);
}
.cal{ width: 500px; -webkit-box-shadow: -9px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -9px 5px 5px 0px rgba(0,0,0,0.75);}
.cal form{ display: block; margin: 0 auto; }
.num{ background: #091921; color: #fff;}
#inputwindow{ width: 100%;}
.equal{
    background-color: #8c7364 !important;
    color: #fff !important;
}
input[type = button]{
	color:#755139;
	background: #f8f4f3;
	border: 1px solid rgba(0,0,0,.1);
	cursor: pointer;outline:none;
}
input[type = text]{
	color: #091921 !important;
	background: #e9dad3;
	border: 1px solid rgba(0,0,0,.1);
	outline:none;font-size: 30px;
}
#calculater input:focus{border: 0px solid rgba(0,0,0,.1); outline:none;}
.clear{
    background-color: #8c7364 !important;
    color: #fff !important;
}
